body.dark {
    color: white;
    place-items: center;
    background-color: rgb(30, 36, 53);
}
body.light{
    background-color:  rgb(134, 130, 130);
    place-items: center;
    color: white;
}
.main-logo{
    border-radius: 200px;
    
}
nav {
    background: rgb(41, 40, 40);
    padding: 0.2rem 0rem 2rem ;
    position: absolute ;
    width: 100%;
    place-items: center;
    left: 50%;
    transform: translateX(-50%);
    top: -7rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-color:rgb(0, 0, 0);
    margin-top: 115px;
    z-index: 100%;
    border-radius: 20px;
    padding-bottom: 15px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 0px 0px 0px;
    text-shadow: 3px 3px 3px yellow;
}
nav ul li {
    margin: 0px 15px;
}
nav ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 14px;
    border-radius: 20px;
    transition: all 0.3s ease;
}
nav ul li a::after {
    content: '';
    position: absolute;
    width: 0; 
    height: 5px; 
    border-radius: 20px;
    background:rgb(0, 183, 255); 
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
    transition: width 0.3s ease; 
}
nav ul li a:hover::after {
    width: 100%;
}
nav ul li a:hover {
    background-color: rgba(240, 248, 255, 0);
}
.start{
    background-image: url("New folder/WhatsApp Image 2025-12-20 at 3.53.44 PM.jpeg");
    height: 500px;
    width: 100%;
    margin-top: 100px;
    background-size: cover;
    color: rgb(238, 255, 0);
    border-radius: 50px;
}
.START2{
    filter: brightness(100%);
}
.start3{
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: brightness(30%);
    height: 500px;
    width: 100%;
    border-radius: 50px;
    place-items: center;
}
.test1{
    place-items: center;
}
.test2{
    width: 25%;
    height: 310px;
    margin: 10px 5px ;
    background-color: #292538;
    border-radius: 70px;
    line-height: 20px;
}
.test3{
    width: 25%;
    background-color: rgb(41, 37, 56);
    border-radius: 70px;
    margin: 10px 5px ;
    line-height: 20px;
}
.test4{
    width: 25%;
    background-color: rgb(41, 37, 56);
    border-radius: 70px;
    margin: 10px 5px ;
    line-height: 20px;
}
.test5{
    place-items: center;
    margin-left: 640px;
}
.test6{
    margin-right: 100px;
    margin-top: 10px;
    text-shadow: 3px 3px 3px black;
    box-shadow: 3px 3px 6px red;
    transition-duration: 0.5s;
}
.test6:hover{
    transform: translateY(-10px);
    position: relative;
}
.test7{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    width: 1300px;
}
.test8{
    width: 25%;
    background-color: rgb(41, 37, 56);
    border-radius: 70px;
    margin: 10px 5px ;
    line-height: 20px;
}
.test9{
    width: 450px;
    color: rgb(43, 255, 0);
    transition-duration: 0.5s;
}
.test9:hover{
    transform: translateY(-10px);
    position: relative;
}
.test9-2{
    width: 400px;
    color: rgb(43, 255, 0);
    transition-duration: 0.5s;
}
.test9-2:hover{
    transform: translateY(-10px);
    position: relative;
}
.test10{
    box-shadow: 3px 3px 10px red ;
    border-radius: 60px;
    color: aqua;
    transition: 0.5s;
}
.test10:hover{
    transform: translateY(-10px);
    position: relative;
}
.test11{
    margin-left: 100px;
    margin-right: 0px;
    color: rgb(43, 255, 0);
}
.imges{
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 20px;
    transition-duration: .5s;
}
.imges:hover{
    transform: translateY(-10px);
    position: relative;
}
.toggle-btn {
    position: absolute;
    top: 12px;
    left: 20px;
    background: rgb(41, 40, 40);
    color: white;
    border: none;
    padding: 12px 15px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 8px;
}
.sidebar {
    direction: ltr;
    width: 0;
    height: 100vh;
    background: #462802;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: width 0.3s;
    z-index: 1000;
}
.sidebar.active {
    width: 350px;
}
.sidebar .logo {
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 24px;
    border-bottom: 3px solid #34495e;
}
.sidebar ul {
    list-style: none;
}
.sidebar ul li a {
    display: block;
    padding: 15px 20px;
    color: #ecf0f1;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s;
}
.sidebar ul li a:hover {
    background: #053666;
    padding-right: 30px;
}
.sidebar ul li a i {
    margin-left: 10px;
}
.close-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
.logo img{
    width: 70px;
    height: 70px;
}
.SETTING_LIST{
    direction: ltr;
    width: 0;
    height: 100vh;
    background: #462802;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: width 0.3s;
    z-index: 1000;
    list-style: none;
    text-decoration: none;
}
.SETTING_LIST.active{
    width: 350px;
}
.SETTING_LIST ul li  :hover {
    background: #053666;
}
.SETTING_LIST ul{
    list-style: none;
}
.SETTING_LIST .logo {
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 24px;
    border-bottom: 3px solid #34495e;
}
.SETTING_LIST ul li a {
    display: block;
    padding: 15px 20px;
    color: #ecf0f1;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s;
}
.icons{
    margin-right: 10px;
}
.NOTIFICATIONS .logo {
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 24px;
    border-bottom: 3px solid #34495e;
}
.NOTIFICATIONS{
    direction: ltr;
    width: 0;
    height: 100vh;
    background: #462802;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: width 0.3s;
    z-index: 1000;
    list-style: none;
    text-decoration: none;
}
.NOTIFICATIONS.active{
    width: 350px;
}
.NOTIFICATIONS ul li a {
    display: block;
    padding: 15px 20px;
    color: #ecf0f1;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s;
}
.NOTIFICATIONS ul{
    list-style: none;
}
.designerPhotos{
    border-radius: 50px;
    place-items: center;
    width: 200px;
    height:280px;
    box-shadow: 3px 3px 50px rgb(238, 255, 0);
}
.light-btn {
    top: 80px;
    left: 20px;
    width: 100%;
    direction: ltr;
    position: absolute;
    background: #2c3e5000;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
}
.light-btn:hover {
    background: #34495e;
}
.APPOINTMENT{
    direction: ltr;
    width: 0;
    height: 100vh;
    background: #462802;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: width 0.3s;
    z-index: 1000;
    list-style: none;
    text-decoration: none;
}
.APPOINTMENT.active{
    width: 350px;
}
.APPOINTMENT ul li  :hover {
    background: #053666;
}
.APPOINTMENT ul{
    list-style: none;
}
.APPOINTMENT .logo {
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 24px;
    border-bottom: 3px solid #34495e;
}
.APPOINTMENT ul li a {
    display: block;
    padding: 15px 20px;
    color: #ecf0f1;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s;
}
.form1{
    place-items: center;
    background-color:#462802 ;
    font-size: large;
}